<button class="btn btn-primary" onclick="getCallGreetSync()">call greet (Get同步)</button>
<button class="btn btn-primary" onclick="getCallGreetAsync()">call greet (Get非同步)</button>
<button class="btn btn-primary" onclick="postCallGreetSync()">call greet (Post非同步)</button>
<img id="progress"  src="~/images/balls.gif" asp-append-version="true" />
<div id="result"></div>
@section Scripts
	{
	<script>
		function getCallGreetSync() {
			var xmlHttp = new XMLHttpRequest();
			if (xmlHttp != null) {
				var p = encodeURI("Name=陳小0 Get同步"); //有中文=>編碼encodeURI
				xmlHttp.open("GET", "https://localhost:7117/Ajax/Greet?" + p, false);
				document.getElementById("progress").style.display = "inline";
				xmlHttp.send();
				document.getElementById("result").innerText = decodeURI(xmlHttp.responseText);
				document.getElementById("progress").style.display = "none";
			}
			else {
				alert("不支援")
			}
		}
		function getCallGreetAsync() {
			var xmlHttp = new XMLHttpRequest();
			if (xmlHttp != null) {
				var p = encodeURI("Name=陳小0 Get非同步"); //有中文=>編碼encodeURI
				xmlHttp.open("GET", "https://localhost:7117/Ajax/Greet?" + p, false);
				xmlHttp.onreadystatechange = function () {
					if (xmlHttp.readyState == 4) {
						if (xmlHttp.status == 200) {
							document.getElementById("result").innerText = decodeURI(xmlHttp.responseText);
							document.getElementById("progress").style.display = "none";
						}
					}
				}

				document.getElementById("progress").style.display = "inline";
				xmlHttp.send();

			}
			else {
				alert("不支援")
			}
		}
		function postCallGreetSync() {
			var xmlHttp = new XMLHttpRequest();
			if (xmlHttp != null) {
				xmlHttp.open("POST", "https://localhost:7117/Ajax/Greet?", true);
				xmlHttp.onreadystatechange = function () {
					if (xmlHttp.readyState == 4) {
						if (xmlHttp.status == 200) {
							document.getElementById("result").innerText = decodeURI(xmlHttp.responseText);
							document.getElementById("progress").style.display = "none";
						}
					}
				};
				xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded")

				document.getElementById("progress").style.display = "inline";
				xmlHttp.send("Name=陳小0 Post非同步");

			}
			else {
				alert("不支援")
			}
		}
	</script>
}